.sms_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
}

.sms_menu {
  position: absolute;
  top: 0;
  left: 0;
}

.sms_btn {
  border-radius: "2px";
  outline: "none";
  border: "none";
  padding: "6px 10px";
  background: "linear-gradient( to bottom, #a4d007 5%, #536904 95%)";
  color: "#D2E885";
  cursor: "pointer";
}
