.sms_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem;
}

.sms_menu {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  border-radius: 6px;
  color: white;
}

.sms_btn {
  border-radius: 2px;
  outline: none;
  border: none;
  padding: 6px 10px;
  background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
  color: #d2e885;
  cursor: pointer;
}

.sms_btn:hover {
  background: linear-gradient(to bottom, #b6d908 5%, #80a006 95%);
}

.sms_btnToggleIcon {
  display: inline-block;
  transition: "transform .2s ease";
  font-weight: "bold";
}
